In [ ]:
print("Aloitettu: GetPlayersSalariesBySeason \n")

In [9]:
# Haetaan kaikki ladattavat kaudet erikseen määritetystä tiedostosta

import csv
import pandas as pd

player_salary = []

# Lue csv-tiedoston sarake ilman otsikkoa ja tallenna listaan urlit
with open('Pelaajapalkat.csv', encoding='utf-8') as csvfile:
    reader = csv.reader(csvfile, delimiter=';')
    headers = next(reader, None)
    player_salary = list(reader)

df = pd.DataFrame(player_salary, columns = headers)

In [10]:
print(df.dtypes)
print("")

﻿Kausi           object
Joukkue          object
Kokonaistulot    object
Ansiotulot       object
Pääomatulot      object
Koko_nimi        object
dtype: object

In [11]:
# muokkaa kentät

df.head()

      ﻿Kausi Joukkue Kokonaistulot Ansiotulot Pääomatulot      Koko_nimi
0  2019-2020    HIFK        116567     116567           0    Ahonen Rony
1  2019-2020    HIFK          7398       7398           0      And Terry
2  2019-2020    HIFK         34523      34523           0  Dyk Sebastian
3  2019-2020    HIFK         31992      31992           0  Engberg Teemu
4  2019-2020    HIFK         84821      84673         148    Engren Atte

In [12]:
# tallenna uusi csv

df.to_csv(r'C:\Users\35840\Documents\JohdantoDatatieteisiin2021\JohdantoDatatieteisiin2021\Harjoitustyö\PlayersSalaries_by_Season.csv', index = False, header=True)

print("Tallennettu PlayersSalaries_by_Season.csv \n")

In [ ]:
print("Suoritettu PlayersSalaries_by_Season")